
html{
    background-image: url("images/back-im.jpg");
    font-family: 'Quicksand', sans-serif;
}
.acerca {
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 70px;
    width: 71%;
    background-color: white;
    padding-bottom: 700px;
}
.til {
    padding: 100px;
    margin-left: 200px;
    text-decoration: underline;

}
.parrafo {
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
    margin-top: -50px;
    line-height: 40px;
}
a {
    text-decoration: none;
    color: firebrick;
    font-weight: 900;
}
img {
    margin-left: 200px;
    position: absolute;
    margin-right: auto;
    margin-top: 100px;

}

.tr {
    color: white;
}

.wrapper {
    width: 71%;
    margin-left: 70px;
    margin-right: 200px;
    overflow:hidden;


}
header {
    background: rgba(0,0,0,0.9);
    width: 71%;
    position: fixed;
    margin-top: -80px;
    margin-left: 200px;
    z-index: 10;

}

nav {
    float: left;
    color: #fff;

}
nav ul {
    list-style: none;
    overflow: hidden;


}
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;


}
nav ul li {

    display: block;
    padding: 20px;


}
nav ul li:hover {
    background: rgba(246,89,64,0.93);


}

.button {
    text-decoration: none;
    color: white;

}