.flex-container {
    display: flex;
    width: 71%;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 75px;
    position: absolute;
    background-color: #fcfaff;
    line-height: 40px;


}

html {
    background-image: url("images/back-im.jpg");
    min-width: 100%;
    font-family: 'Quicksand', sans-serif;


}
.cabecera {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
}
h1, h2, h3 {
    text-decoration: underline;
    margin-top: 80px;

}


.tr {
    color: white;
    background-color: firebrick;

    margin-bottom: 100px;
}

.tabla {
    max-width:100% ;
    margin-top: 180px;
    margin-right: 100px;
}

.wrapper {
    width: 71%;
    margin: auto;
    overflow:hidden;
    text-decoration: none;

}
header {
    background: rgba(0,0,0,0.9);
    width: 71%;
    position: fixed;
    margin-left: 200px;
    margin-top: -10px;
    z-index: 10;



}

nav {
    float: left;
    color: #fff;

}
nav ul {
    list-style: none;
    overflow: hidden;


}
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;


}
nav ul li {

    display: block;
    padding: 20px;


}
nav ul li:hover {
    background: rgba(246,89,64,0.93);


}

.button {
    text-decoration: none;
    color: white;
    font-weight: 600;

}
