<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="personajes.css" media="screen" />


    <title>Personajes</title>
</head>
<body>

<header>
    <section class="wrapper">
        <nav>
            <ul>
                <li><a class="button" href="index.html">Inicio</a></li>
                <li><a class="button" href="Director.html">Director</a></li>
                <li><a class="button" href="sobre_pelicula.html">Argumento</a></li>
                <li><a class="button" href="quejas.html">Quejas</a></li>
            </ul>
        </nav>
    </section>
</header>

<div class="titulo">
    <img src="images/Avengers_Age_of_Ultron_Logo_Movie.png" alt="500" height="200">
</div>

<script id="personajes_plantilla" type="text/x-handlebars-template">

    <a href="#" class="btn btn-primary add">Añadir</a>
    
    <table class="contenedor">
        <thead>
            <tr>
                <th>
                    <i>
                        Image
                    </i>
                </th>
                <th>
                    <i>
                        Nombre
                    </i>
                </th>
                <th class="perfil">
                    <i>
                        Perfil
                    </i>
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>


        <tbody>
        {{for Personajes}}
            <tr>
                <td class="cap1">
                    <a data-id={{:personaje_id}} class="details" href="#"><img src="{{:img}}" width="250" height="500"></a>
                </td>

                <td>
                    <a data-id={{:personaje_id}} class="details" href="#">{{:Nombre_personaje}}</a>
                </td>
                <td class="perfil">
                    {{:Perfil}}
                </td>
                <td>
                    <a data-id={{:personaje_id}} href="#" class="btn btn-primary delete">Delete</a>
                    <a data-id={{:personaje_id}} href="#" class="btn btn-primary modify">Modificar</a>
                </td>
            </tr>
        {{/for}}
        </tbody>

    </table>

</script>

<script id="personaje_plantilla" type="text/x-handlebars-template">

    <div class="contenedor">
    <h1>{{:Nombre_personaje}}</h1>
    </div>
</script>

<script id="add_personaje_plantilla" type="text/x-handlebars-template">

    <div class="contenedor">
        <h1>Añadir personaje</h1>

        <form action="">
            <label for="img">Imagen</label>
            <input type="text" name="img" id="img">

            <br>

            <label for="Nombre_personaje">Nombre</label>
            <input type="text" name="Nombre_personaje" id="Nombre_personaje">

            <br>

            <label for="Perfil">Perfil</label>
            <input type="text" name="Perfil" id="Perfil">

            <br>

            <button type="submit" class="btn btn-primary add-form">Enviar</button>
        </form>


    </div>
</script>

<script id="modify_personaje_plantilla" type="text/x-handlebars-template">

    <div class="contenedor">
        <h1>Modificar {{:Nombre_personaje}}</h1>

        <form action="">
            <label for="img">Imagen</label>
            <input type="text" name="img" id="img" value="{{:img}}">

            <br>

            <label for="Nombre_personaje">Nombre</label>
            <input type="text" name="Nombre_personaje" id="Nombre_personaje" value="{{:Nombre_personaje}}">

            <br>

            <label for="Perfil">Perfil</label>
            <input type="text" name="Perfil" id="Perfil" value="{{:Perfil}}">

            <br>

            <button data-id="{{:personaje_id}}" type="submit" class="btn btn-primary modify-form">Enviar</button>
        </form>


    </div>
</script>

<a class="personajes" href="#">Lista de personajes</a>

<div id="app"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<script src="//unpkg.com/navigo@6"></script>
<script>
    function showCharacter(event) {
        event.preventDefault();

        var id = $(this).data("id");

        $.getJSON("api/vengadores/" + id, function (data) {
            var html = $("#personaje_plantilla").render(data);

            $("#app").html(html);
        });
    }

    function deleteCharacter(event) {
        event.preventDefault();

        var id = $(this).data("id");

        console.log("Delete " + id);

        $.ajax({
            url: 'api/vengadores/' + id,
            type: 'DELETE'
        }).then(function (result) {
            showCharacters();
        });
    }
    function modifyCharacter(event) {
        event.preventDefault();

        var id = $(this).data("id");

        $.getJSON("api/vengadores/" + id, function (data) {
            var html = $("#modify_personaje_plantilla").render(data);

            $("#app").html(html);

            $(".modify-form").on("click", modifyFormSubmite);
        });

    }

    function modifyFormSubmite(event) {
        event.preventDefault();

        var form = $("form");

        var data = form.serializeObject();
        var button = $("form > button");

        var id = button.data("id");

        console.log("ID: " + id);

        $.post("api/vengadores/" + id, data, function (result) {
            showCharacters();
        })
    }

    function addFormSubmite(event) {
        event.preventDefault();

        var form = $("form");

        var data = form.serializeObject();

        $.post("api/vengadores/", data, function (result) {
            showCharacters();
        })
    }

    function addCharacter(event) {
        event.preventDefault();

        var html = $("#add_personaje_plantilla").render();

        $("#app").html(html);

        $(".add-form").on("click", addFormSubmite);

    }


    function showCharacters() {
        $.getJSON("api/vengadores/", function (data) {

            var html = $("#personajes_plantilla").render(data);

            $("#app").html(html);

            $(".details").on("click", showCharacter);
            $(".delete").on("click", deleteCharacter);
            $(".modify").on("click", modifyCharacter);
            $(".add").on("click", addCharacter);
        });
    }

    $(document).ready(function (id) {
        showCharacters();
    });
</script>

</body>
</html>