<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personajes</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="personajes.css" media="screen"/>
</head>
<body>

<header>
    <section class="wrapper">
        <nav>
            <ul>
                <li><a class="button" href="index.html">Inicio</a></li>
                <li><a class="button" href="Director.html">Director</a></li>
                <li><a class="button" href="sobre_pelicula.html">Argumento</a></li>
                <li><a class="button" href="quejas.html">Quejas</a></li>
            </ul>
        </nav>
    </section>
</header>

<script id="personajes_plantilla" type="text/x-handlebars-template">

    <div class="contenedor">


        <div class="titulo">
            <img src="images/Avengers_Age_of_Ultron_Logo_Movie.png" alt="500" height="200">
        </div>

        {{for Papeles}}
        <div class="cap">
            <img class="cap5" src="images/steve-rogers.png" alt="300" height="400" align="left">
            <h3 class="cap3"><a href="https://es.wikipedia.org/wiki/Chris_Evans">CHRIS EVANS</a></h3>
            <h2 class="cap4">{{:nombre_personaje}}</h2>
            <p class="cap1">{{:perfil}}</p>
        </div>
        <div class="fury">
            <img class="fury1" src="images/Nick_Fury.png" alt="300" height="400" align="right">
            <h3 class="fury2"><a href="https://es.wikipedia.org/wiki/Samuel_L._Jackson">SAMUEL L JACKSON </a></h3>
            <h2 class="fury3">{{:nombre_personaje}}</h2>
            <p class="fury4">{{:perfil}}</p>
        </div>
        <div class="clint">
            <img class="clint1" src="images/Hawkeye-Transparent-PNG.png" alt="300" height="400" align="left">
            <h3 class="clint2"><a href="https://es.wikipedia.org/wiki/Jeremy_Renner">JEREYMY RENNER</a></h3>
            <h2 class="clint3">{{:nombre_personaje}}</h2>
            <p class="clint4">{{:perfil}} </p>
        </div>
        <div class="hulk">
            <img src="images/Hulk_Avengers_Age_of_Ultron_Promo.png" alt="300" height="400" align="right">
            <h3><a href="https://es.wikipedia.org/wiki/Mark_Ruffalo">MARK RUFFALO</a></h3>
            <h2>{{:nombre_personaje}}</h2>
            <p class="cuatro">{{:perfil}} </p>
        </div>
        <div class="tony">
            <img class="tony1" src="images/Tony_TheAvengers.png" alt="300" height="400" align="left">
            <h3 class="tony2"><a href="https://es.wikipedia.org/wiki/Robert_Downey_Jr.">ROBERT DOWNEY JR.</a></h3>
            <h2 class="tony3">{{:nombre_personaje}}</h2>
            <p class="tony4">{{:perfil}} </p>
        </div>
        <div class="pietro">
            <img src="images/pietro.png" alt="300" height="400" align="right" align="left">
            <h3><a href="https://es.wikipedia.org/wiki/Aaron_Taylor-Johnson">AARON TAYLOR-JOHNSON</a></h3>
            <h2>{{:nombre_personaje}}</h2>
            <p class="cuatro">{{:perfil}}  </p>
        </div>
        <div class="wanda">
            <img src="images/Wanda_Maximoff.png" alt="300" height="400" align="right">
            <h3><a href="https://es.wikipedia.org/wiki/Elizabeth_Olsen">ELIZABETH OLSEN</a></h3>
            <h2>{{:nombre_personaje}}</h2>
            <p class="cuatro">{{:perfil}}  </p>
        </div>
        <div class="thor">
            <img src="images/thor.png" alt="300" height="400" align="left">
            <h3><a href="https://es.wikipedia.org/wiki/Chris_Hemsworth">CHRIS HEMSWORTH</a></h3>
            <h2>{{:nombre_personaje}}</h2>
            <p class="cuatro">{{:perfil}}</p>
        </div>
        <div class="ultron">
            <img src="images/Ultron-PNG-Transparent.png" alt="300" height="400" align="right">
            <h3><a href="https://es.wikipedia.org/wiki/James_Spader">JAMES SPADER</a></h3>
            <h2>{{:nombre_personaje}}</h2>
            <p class="tres">{{:perfil}} </p>
        </div>
        <div class="natasha">
            <img src="images/natasha.png" alt="300" height="400" align="left">
            <h3><a href="https://es.wikipedia.org/wiki/Scarlett_Johansson">SCARLETT JOHANSSON</a></h3>
            <h2>{{:nombre_personaje}}</h2>
            <p class="cuatro">{{:perfil}}</p>
        </div>
        {{/for}}
    </div>
</script>

<div id="app"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
<script>
    $.getJSON("json.json", function (plantilla) {
        var html = $("#personajes_plantilla").render(plantilla);
        $("#app").html(html);
    })
</script>
</body>
</html>