
.contenedor {
    background-color: white;
    margin-left: 300px;
    margin-right: 300px;
    min-width: 72%;
    max-width: 90%;
    margin-top: -50px;
}
.head{
    padding-top: 20px;
    padding-bottom: 20px;
}

.titulo{
    margin-top: 100px;
    margin-left: 500px;
    padding-bottom: 60px;
}
.tit{
    margin-top: 100px;
    margin-left: 100px;
    padding-bottom: 60px;
}
.lista {
    margin-top: 80px;
    margin-left: 200px;
}

html, body {
    background-image: url("./images/back-im.jpg");
    font-family: 'Quicksand', sans-serif;
}
.perfil {
    width: 30%;
}

.add{
    margin-top: 50px;
    margin-left: -200px;
}
.logo_a{
    margin-left: 200px;
}

.tr {
    color: white;
}
.wrapper {
    min-width: 72%;
    max-width: 90%;
    margin: auto;
    overflow:hidden;
    text-decoration: none;
}
header {
    background: rgba(0,0,0,0.9);
    min-width: 72%;
    max-width: 90%;
    position: fixed;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: -100px;
    z-index: 10;
}

nav {
    float: left;
    color: #fff;

}
nav ul {
    list-style: none;
    overflow: hidden;


}
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;


}
nav ul li {

    display: block;
    padding: 20px;


}
nav ul li:hover {
    background: rgba(246,89,64,0.93);


}

.button {
    text-decoration: none;
    color: white;
    font-weight: 600;

}