#barra_navegacion ul {
    list-style-type: none;
}

#barra_navegacion li {
    display: inline;
    padding-left: 12px;
    margin-top: 15px;
}

#titulo {
    background-image: url("images/otro.png");
    font-style: italic;
    color: white;
    text-align: center;
    margin-top: 50px ;
    padding: 30px;
}
body {
    background-color: white;
    margin-left: 300px;
    margin-right: 300px;
    vertical-align: top ;
    display: inherit;
    line-height: 0;
    font-size: 0;


}
.image {
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 200px;
    border-style: solid
}

html{
    background-image: url("images/bg.jpg");
    font-family: 'Quicksand', sans-serif;
}

video {
    background-size: cover;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    width: auto;
    z-index: -100;


}


body {
    font-family: "Segoe UI", sans-serif;
}

header {
    background:#333;
    color:#eee;
    width:100%;
}

input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}


label[for="abrir-cerrar"] {
    cursor:pointer;
    padding: 2rem;

    background-color:#333;
    color:#fff;
    display:block;
    width: 100%;
    height: 100%;


}

.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:300px;
    transition: margin-left .4s;
}


input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: firebrick;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: white;
    text-decoration: none;
    margin: 30px;

}

.sidebar a:hover{
    color:#fff;
    background-color: dodgerblue;

}

.abrir-cerrar {
    color: firebrick;
    font-size:1rem;
}

