html {
    background-image: url("images/back-im.jpg");
    font-family: 'Quicksand', sans-serif;
}
.quejas {
    margin-left:200px;
    margin-right: 200px;
    margin-top: 70px;
    width: 71%;
    background-color: white;
    padding-bottom: 700px;
}
h1 {
    margin-left: 400px;
    text-decoration: underline;
    padding-top: 100px;
}
p{
    margin-left: 200px;
    margin-top: 80px;
}
input, textarea {
    margin-left: 200px;
}
.quejas1 {
    margin-top: 0px ;
    margin-right: 1000px;

}
textarea {
    margin-bottom: 100px;
}

.email1, .texta  {
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: white;
}
.wrapper {
    width: 71%;
    margin: auto;
    overflow:hidden;
    text-decoration: none;

}
header {
    background: rgba(0,0,0,0.9);
    width: 71%;
    position: fixed;
    margin-left: 195px;
    margin-top: -80px;
    z-index: 10;



}

nav {
    float: left;
    color: #fff;

}
nav ul {
    list-style: none;
    overflow: hidden;


}
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;


}
nav ul li {

    display: block;
    padding: 20px;


}
nav ul li:hover {
    background: rgba(246,89,64,0.93);


}

.button {
    text-decoration: none;
    color: white;
    font-weight: 600;

}